
$dark: #040404;

$transparentize: .3;

$color_place_gold:   transparentize( gold, $transparentize );
$color_place_silver: transparentize( silver, $transparentize );
$color_place_bronze: transparentize( #cd7f32, $transparentize );

$version: PLUGIN_VERSION;

$image_root: '../images/';

@mixin table() {
    border: 0;
    border-collapse: collapse;
    thead {
        th,
        td
        {
            background-color: $dark;
            color: invert( $dark );
            font-weight: 600;
        }
    }
    tbody {
        tr {
            &:not(.fleet-place-medal) {
                &:nth-child( odd ) {
                    td {
                        background: transparentize( $dark, .98 );
                    }
                }
                &:hover {
                    td {
                        background: transparentize( $dark, .94 );
                    }
                }
            }
        }
    }
    td, th {
        border: 0;
    }
}

@mixin image( $image ) {
    image: url(#{$image_root}#{$image}?v=#{$version});
}

@mixin flag( $flag ) {
    background: {
        @include image("flags/#{$flag}.svg");
    }
}

@mixin trophy( $trophy ) {
    background: {
        @include image("trophies/#{$trophy}.svg");
    }
}

@mixin radius($radius) {
    -webkit-border-radius: $radius;
    -moz-border-radius: $radius;
    border-radius: $radius;
}

@mixin boxshadow($shadow) {
    -webkit-box-shadow: $shadow;
    -moz-box-shadow: $shadow;
    box-shadow: $shadow;
}

@mixin reset() {
    display: inline;
    position: static;
    top: auto;
    right: auto;
    bottom: auto;
    left: auto;
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    background-color: transparent;
    line-height: 1.2;
    list-style: none;
    font: {
        size: 100%;
        style: normal;
        weight: normal;
    }
    @include boxshadow(none);
    @include radius(0);
}

@mixin random_border_color() {
    border: 1px solid rgb(random(255),random(255),random(255));
}

